table, th, td {
  border: 1px solid black;
  font-size: 14px;
}

.table-scroll {
  position: relative;
  width: 100%;
  z-index: 1;
  margin: auto;
  overflow: auto;
  height: 650px;
}

.table-scroll table {
  width: 100%;
  min-width: 1280px;
  margin: auto;
  border-collapse: separate;
  border-spacing: 0;
}

.table-wrap {
  position: relative;
}

.table-scroll th,
.table-scroll td {
  padding: 5px 10px;
  border: 1px solid #000;
  background: #fff;
  vertical-align: top;
}



.table-scroll thead .expHeader th:first-child {
  position: -webkit-sticky;
  position: sticky;
  left: 0;
  z-index: 2;
}

.table-scroll thead .expHeader th:nth-child(2) {
  position: -webkit-sticky;
  position: sticky;
  left: 65px;
  z-index: 2;
}

.table-scroll tbody td:first-child  {
  position: -webkit-sticky;
  position: sticky;
  left: 0;
  z-index: 2;
}

.table-scroll tbody td:nth-child(2)  {
  position: -webkit-sticky;
  position: sticky;
  left: 65px;
  z-index: 2;
}


